@keyframes jump-up {
    50% {
        transform: translateY(-5px);
    };
    100% {
        transform: translateY(0);
    }
}

@keyframes scroll  {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-50% - 13px)); }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;
    column-gap: 20px;
    padding-inline: 32px;
    background-color: var(--dark-blue);
}

.header__logo {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    height: 90px;
}

.header__menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

.header__menu-link {
    font-family: 'Heebo-Bold', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--light);
    text-decoration: none;
    letter-spacing: 1.2px;
    height: 90px;
    display: inline-flex;
    align-items: center;
    transition-property: color;
    transition-duration: var(--transition-duration);

    &:hover {
        color: var(--light-gray);
    }

    &.is-current::after {
        content: '';
        width: 5px;
        aspect-ratio: 1;
        background-color: currentColor;
        border-radius: 50%;
        margin-left: 8px;
    }

    &.is-current:hover::after {
        animation: jump-up 0.4s;
    }
}

.header__actions {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 39px;
}

.header__book-btn {
    font-family: 'Heebo-Bold', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 2;
    text-transform: uppercase;
    color: var(--dark);
    border: var(--border);
    background-color: var(--light);
    padding-inline: 26px;
    white-space: nowrap;
    transition-property: background-color, color;
    transition-duration: var(--transition-duration);
    

    &:hover {
        background-color: transparent;
        color: var(--light);
    }
}

.header__burger-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1;
    border: var(--border);
    border-radius: 50%;
    background-color: transparent;
    color: white;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-inline: 71px;
    padding-bottom: 34px;
    min-height: calc(100svh - 90px);
    background-color: var(--dark-blue);
}

.banner__body {
    color: var(--light);
    text-transform: uppercase;
    font-family: 'Heebo-Bold', sans-serif;
    font-weight: 700;
}

.banner__info {
    display: flex;
    align-items: flex-end;
    font-size: clamp(16px, 1.56vw, 30px);
    line-height: 1.27;

    &::before {
        content: '';
        background: url(../assets/icons/arrow-right-bottom.svg) no-repeat center / contain;
        width: clamp(82px, 10.1vw, 194px);
        aspect-ratio: 1;
        margin-right: 1em;
    }
}

.banner__header {
    font-size: clamp(60px, 18.75vw, 360px);
    line-height: 1;
    overflow: hidden;
}

.banner__pagination {
    display: flex;
    justify-content: center;
}

.banner__pagination-list {
    display: flex;
}

.banner__pagination-item {
    display: inline-flex;
    padding: 7px;
}

.banner__pagination-btn {
    width: 10px;
    aspect-ratio: 1;
    border: var(--border);
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    transition-duration: var(--transition-duration);
    transition-property: background-color, transform;

    &:not(.is-current):hover {
        transform: scale(1.2);
        background-color: var(--dark-gray);
    }

    &.is-current {
        background-color: var(--light);
    }
}

.motivation__item:nth-child(even) {
    position: relative;
    background-color: var(--dark-blue);
    z-index: 0;

    & .motivation__card {
        flex-direction: row-reverse;
    }
}

.motivation__card {
    display: flex;
    align-items: center; 
    justify-content: start;
    column-gap: clamp(30px, 10.78vw, 207px);
}

.motivation__card-title {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 14px;
    }
}

.backdrop-title {
    position: relative;
    line-height: 1;
    
    &::before {
        content: '';
        position: absolute;
        right: calc(100% + 0.2em);
        bottom: calc(100% - 0.65em);
        display: block;
        width: 0.65em;
        aspect-ratio: 1;
        background: url(../assets/icons/Cross.svg) no-repeat center / contain;
    }

    &::after {
        content: attr(data-title);
        position: absolute;
        z-index: -100;
        left: -0.62em;
        top: -0.35em;
        font-family: var(--font-family-accent);
        font-size: 2.8em;
        color: transparent;
        -webkit-text-stroke: 1px var(--dark-gray);
    }
}

.motivation__card-body {
    padding-left: 35px;
}

.motivation__card-description {
    max-width: 390px;
    font-size: clamp(14px, 1.23vw, 16px);

    &:not(:last-child) {
        margin-bottom: 37px;
    }
}

.button.button--transparent {
    position: relative;
    background-color: transparent;
    color: var(--light);
    text-decoration: none;
    border: var(--border);
    height: var(--input-height);
    padding-inline: 31px 81px;
    white-space: nowrap;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        display: block;
        height: 100%;
        aspect-ratio: 1;
        background: url(../assets/icons/arrow-thin.svg) no-repeat center / 60%;
        transition-duration: var(--transition-duration);
        transition-property: transform;
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        display: block;
        height: 100%;
        aspect-ratio: 1;
        border: var(--border);
        border-radius: var(--border-radius);
    }

    &:hover::after {
        transform: rotate(45deg);
    }
}

.motivation__card-image {
    position: relative;
    z-index: 1;
    margin-block: -25px;
}

.training-types__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px 20px;
    padding-block: 152px 140px;
    padding-inline: 86px;
}

.training-types__item {
    display: inline-flex;
    justify-content: center;
}

.training-types__link {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: var(--light);
    row-gap: 32px;

    &::after {
        content: '';
        clip-path: inset(0 0 0 100%);
        position: absolute;
        display: block;
        width: 81px;
        aspect-ratio: 1;
        bottom: 100%;
        left: 100%;
        background: url(../assets/icons/Arrow-left-bottom.svg) no-repeat center / contain;
        transition-duration: 0s;
        transition-property: clip-path;
    }
    
    &:hover::after {
        transition-duration: var(--transition-duration);
        clip-path: inset(0);
    }
}

.training-types__item-title {
    font-family: 'Heebo-Bold', sans-serif;
    font-size: clamp(14px, 1.23vw, 16px);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height: 1.75;
    white-space: nowrap;
}

.join-us {
    position: relative;
    background-color: var(--dark-blue);
    z-index: 0;
}

.join-us__video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    background: url(../assets/images/join-us-background-image.jpg) no-repeat center / cover;
    padding: 150px 30px;
}

.join-us_video-play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    width: clamp(80px, 19.61vw, 200px);
    aspect-ratio: 1;
    border: var(--border);
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    font-family: 'Heebo-Bold', sans-serif;
    color: var(--light);
    font-size: clamp(14px, 3.33vw, 32px);
    font-weight: 700;
    text-transform: uppercase;
    transition-duration: var(--transition-duration);
    transition-property: background-color, color;

    &::after {
        content: '';
        display: block;
        width: 26px;
        aspect-ratio: 1;
        background: url(../assets/icons/arrow-thin.svg) no-repeat center / contain;
        transition-duration: var(--transition-duration);
        transition-property: filter;
    }
    

    &:hover {
        background-color: var(--light);
        color: var(--dark);

        &::after {
            filter: invert(1);
        }
    }
}

.join-us__body {
    padding-bottom: 150px;
}

.join-us__title {
    position: relative;
    overflow: hidden;
    font-family: 'Heebo-Bold', sans-serif;
    font-size: clamp(64px, 13.85vw, 180px);
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-block: -0.4em 0.72em;

    &::after {
        content: '';
        display: inline-block;
        width: 0.7em;
        aspect-ratio: 1;
        background: url(../assets/icons/arrow-right-bottom.svg) no-repeat center / contain;
        rotate: -90deg;
        margin-left: 0.14em;
    }
}

.join-us__form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;

    &:not(:last-child) {
        margin-bottom: 52px;
    }
}

.backdrop-title.backdrop-title--centered {
    &::before {
        width: 0.43em;
        bottom: calc(100% - 0.43em);
        right: calc(100% + 0.13em);
    }

    &::after {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
    }
    
}

.join-us__form-body {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.input {
    font-size: clamp(14px, 1.23vw, 16px);
    color: var(--light);
    background-color: transparent;
    border: var(--border-gray);
    border-radius: var(--border-radius);
    width: 100%;
    height: var(--input-height);
    padding-inline: 25px;

    &::placeholder {
        color: var(--light-gray);
    }

    &:focus-visible {
        outline: none;
        border: var(--border);
    }

    &:user-invalid {
        border-color: var(--invalid-red);
    }
}

.join-us__form-body-input {
    max-width: 400px;
}

.location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.location-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 15px;
    text-align: center;
}

.location-body__title {
    line-height: 1.2;

    &:not(:last-child) {
        margin-bottom: 14px;
    }
}

.location-body__description {
    max-width: 490px;

    &:not(:last-child) {
        margin-bottom: 37px;
    }
}

.fit-family {
    position: relative;
    background-color: var(--dark-blue);
    z-index: 0;
}

.fit-family__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 7px;
    padding-block: 132px 98px;
}

.fit-family__body {
    overflow-x: hidden;
    position: relative;
    white-space: nowrap;
}

.fit-family__list {
    display: flex;
    animation: scroll 40s linear infinite;
    width: max-content;
    column-gap: 26px;
    will-change: transform;

    &:active {
        animation-play-state: paused;
    }
}

.fit-family__slider-slide {
    object-fit: cover;
    height: clamp(360px, 48.98vw, 480px);
    width: auto;
}

@media (max-width: 1240px) {
    .training-types__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1110px) {
    .banner {
        padding-inline: 32px;
    }

    .motivation__card-image {
        max-width: 40%;
    }
    
    .location {
        display: flex;
        flex-direction: column-reverse;
    }

    .location-map-image {
        min-width: 100%;
    }

    .location-body__description {
        max-width: 400px;
    }
}

@media (max-width: 908px) {
    .header {
        flex-wrap: wrap;
        padding-block: 16px;
    }

    .header__logo {
        height: 40px;
    }

    .header__menu {
        order: 1;
        flex-basis: 100%;
    }

    .header__menu-link {
        height: 40px;
    }

    .banner {
        min-height: calc(100vh - 117px)
    }

    .training-types__list {
        padding-block: 110px 80px;
    }
}

@media (max-width: 808px) {
    .training-types__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .fit-family__list {
        column-gap: 18px;
    }

    @keyframes scroll {
        from { transform: translateX(0); }
        to { transform: translateX(calc(-50% - 9px)); }
    }
}

@media (max-width: 682px) {
    .motivation__card-image {
        margin: -10px;
    }
}

@media (max-width: 642px) {
    .header__menu-list {
        column-gap: 25px;
    }

    .header__book-btn {
        padding-inline: 18px;
    }

    .header__actions {
        column-gap: 18px;
    }

    .banner {
        padding-inline: 16px;
    }

    .banner__info {
        margin-bottom: 5px;
    }

    .banner__pagination-btn {
        width: 8px;
    }

    .banner__pagination-item {
        padding: 5px;
    }

    .button.button--transparent {
        padding-inline: 21px 71px;
    }
    
    .motivation__card,
    .motivation__item:nth-child(even) .motivation__card {
        flex-direction: column-reverse;
        row-gap: 40px;
        padding-block: 30px;
    }

    .training-types__list {
        padding-block: 90px 60px;
        padding-inline: 40px;
    }

    .training-types__link::after {
        max-width: 61px;
        left: 90%;
    }

    .input {
        padding-inline: 15px;
    }

    .join-us__form-body-input {
        max-width: 300px;
    }

    .join-us__form-body {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    
    .join-us__form-body-submit-btn {
        width: 200px;
    }
}

@media (max-width: 508px) {
    .training-types__image {
        max-width: 70%;
    }

    .training-types__link::after {
        max-width: 51px;
        left: 80%;
    }

    .training-types__list {
        padding-block: 70px 50px;
    }

    .fit-family__header-title {
        max-width: 260px;
    }
}

@media (max-width: 422px) {
    .header {
        padding-inline: 14px;
    }

    .fit-family__slider-slide {
        height: 260px;
    }
}